$background-color: #D9D9D9;
$blue: #4484CE;
$note-color: #F19F4D;

$primary-font: 'Baloo Bhaina', cursive;
$secondary-font: 'Open Sans', sans-serif;

$body-font-size: 16px;

html {
    height: 100%;
}

body {
	background-color: $background-color;
	font-family: $secondary-font;
	font-size: $body-font-size;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
	width: 100%;
}

td {
	text-align: right;
	border-right: 5px solid transparent;
	&.phantom-2, &.phantom-3, &.phantom-4, &.phantom-6, &.phantom-7, &.phantom-8 {
		border-top: 5px solid transparent;
	}
}

th {
	color: $blue;
}

.btn {
	background-color: $blue;
	width: 100%;
	border: none;
	margin-top: 20px;
	&:hover {
		background-color: $blue;
	}
	&:active:focus {
		background-color: $blue;
		outline: 0;
	}
	&.create {
		margin-right: 10px;
	}
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {	
	background-color: $blue; 
	border: none;
}

.staff {
	margin-top: 50px;
}

.header {
	text-align: center;
	color: #000000;
	font-family: $primary-font;
	margin-top: 50px;
}

.labels {
	text-align: right;
	margin-top: 240px;
}

.bar {
	border-top: 5px solid #FFFFFF;
	height: 50px;
	&:last-child:not(:only-child) {
		border-bottom: 5px solid #FFFFFF;
	}
}

.fa {
	&.note {
		opacity: 0;
		color: $note-color;
	}
	&.icon {
		color: #FFFFFF;
	}
}

.wrapper {
	max-width: 1800px;
	margin: 0 auto;
}

@media only screen and (max-width: 450px) {
	.note-grouping {
		width: 29%;
		&.one {
				width: 15%;
		}
		&.reg {
			&.two {
				margin-left: 20%;
			}
			&.three {
				margin-left: 7%;
			}
		}
	}
}