body {
  background-color: #277554;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }

table {
  width: 100%; }

td {
  text-align: right;
  border-right: 5px solid transparent; }
  td.phantom-2, td.phantom-3, td.phantom-4, td.phantom-6, td.phantom-7, td.phantom-8 {
    border-top: 5px solid transparent; }

th {
  color: #75AF96; }

.btn {
  background-color: #0F5738;
  width: 100%;
  border: none;
  margin-top: 20px; }
  .btn:hover {
    background-color: #0F5738; }
  .btn:active:focus {
    background-color: #0F5738;
    outline: 0; }
  .btn.create {
    margin-right: 10px; }

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #0F5738;
  border: none; }

.staff {
  margin-top: 50px; }

.header {
  text-align: center;
  color: #75AF96;
  margin-top: 50px; }

.labels {
  text-align: right;
  margin-top: 240px; }
  .labels h1 {
    font-size: 1.563em;
    padding-bottom: 8px;
    color: #75AF96; }

.bar {
  border-top: 5px solid #0F5738;
  height: 50px; }
  .bar:last-child:not(:only-child) {
    border-bottom: 5px solid #0F5738; }

.fa {
  color: #75AF96; }
  .fa.note {
    opacity: 0; }

@media only screen and (max-width: 450px) {
  .note-grouping {
    width: 29%; }
    .note-grouping.one {
      width: 15%; }
    .note-grouping.reg.two {
      margin-left: 20%; }
    .note-grouping.reg.three {
      margin-left: 7%; } }
