body {
  background-color: #277554;
  font-family: "Source Sans Pro", sans-serif; }

table {
  width: 100%; }

td {
  text-align: right;
  border-right: 5px solid transparent; }

.btns {
  text-align: center;
  margin-top: 20px; }

.btn {
  background-color: #0F5738;
  width: 120px;
  border: none; }
  .btn:hover {
    background-color: #499273; }
  .btn:active:focus {
    background-color: #0F5738; }

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #499273;
  border: none; }

.staff {
  margin-top: 20%; }

.bar {
  border-top: 5px solid #0F5738;
  height: 50px; }
  .bar:last-child:not(:only-child) {
    border-bottom: 5px solid #0F5738; }

.fa {
  color: #75AF96;
  opacity: 0; }

.note-grouping {
  border-top: 5px solid transparent;
  width: 38%;
  display: inline-block;
  margin-left: 12%; }

.phantom {
  height: 30px; }
